# SQL Server Configuration
DB_USER=your_username
DB_PASSWORD=your_password
DB_SERVER=your_server_address
DB_DATABASE=your_database_name

# Set to true if you are using Azure SQL or have an SSL certificate
DB_ENCRYPT=false
# Set to true for local development or self-signed certificates
DB_TRUST_SERVER_CERTIFICATE=true

# Application Port
PORT=3000
